* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f5f5f5;
    color: #333;
}

/* Navbar */
nav {
    background-color: #f04f4f;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav h1 {
    color: white;
    font-size: 1.5rem;
}

nav img {
    height: 30px;
    cursor: pointer;
}

/* Menu Lateral */
#menu-lateral {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    background-color: white;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease;
    z-index: 200;
}

#menu-lateral.menu-ativo {
    left: 0;
}

.menu-header {
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #eee;
    background-color:#eee
}

.foto-perfil {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

#menu-lateral ul {
    list-style: none;
    padding: 20px;
}

#menu-lateral li {
    margin-bottom: 15px;
}

#menu-lateral a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

#fechar-menu {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #f04f4f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Feed */
main {
    max-width: 600px;
    margin: 20px auto;
    padding: 0 15px;
}


.post {
    background-color: white;
    padding: 20px; 
    border-radius: 15px; 
    margin-bottom: 20px; 
    display: flex;
    gap: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    max-width: 800px; 
}

.add-post-block {
    background-color: white;
    padding: 20px; 
    border-radius: 15px; 
    margin-bottom: 20px; 
    display: flex;
    gap: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    max-width: 800px;
    background-color: rgb(215, 213, 213);
}

.foto-post {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.add-post {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.conteudo h2 {
    padding: 4px 0px 0px 120px;
}

.post h4 {
    font-size: 0.9rem;
    color: #555;
}

.post h4 span {
    color: #999;
    font-weight: normal;
}

.post p {
    margin-top: 5px;
    font-size: 0.95rem;
}

span {
    color: gray;
}

#add:hover {
    transform: scale(1.09);
    transition: 0.3s;
    cursor:pointer;
}

.effect {
    position: relative;
    color: #333;
    text-decoration: none; 
    padding: 5px 0; 
}

.effect::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0; 
    height: 2px; 
    background-color: #f04f4f;
    transition: width 0.3s ease-out; 
}


.effect:hover::after {
    width: 100%; 
}